#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY_FILE=~/.node_history;

# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Add timestamps to Bash history entries.
export HISTTIMEFORMAT="%d/%m/%y %T "

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# After each command, append to the history file and reread it.
export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND$'\n'}history -a; history -c; history -r";

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Colorful MAN pages.
export PAGER=most;

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# Vivid Web regression environment.
export REGRESSION_ENV_CONTEXT=local;

# Node Version Manager path.
export NVM_DIR=$HOME/.nvm

# Node path.
export NODE_PATH="/usr/local/lib/node"

# Node environment.
export NODE_ENV=development

# Ant options.
export ANT_OPTS=-Dbuild.sysclasspath=ignore

# Gist-scope token for HyperTerm backup plugin.
export HYPERTERM_SYNC_SETTINGS_PERSONAL_ACCESS_TOKEN="77a6b9bd97f6a15b3ee659e89ac472f303b33d4a"

# Directory shortcuts
export HOLOGRAM_MARKETING="$HOME/Projects/Hologram/hologram-web/wp-content/themes/hologram_dev"
export HOLOGRAM_DOCS="$HOME/Projects/Hologram/hologram-web/wp-content/themes/hologram_docs"
export HOLOGRAM_DASHBOARD="$HOME/Projects/Hologram/hologram-dashboard"

# Docker
export PHP_REMOTE_DEBUG_HOST_IP=10.254.254.254
#export HOLOAPI_ENV=docker
#export HOLOAPI_CONFIGDEBUG=true

export HOMEBREW_GITHUB_API_TOKEN="339c6c067512ad2766787c488deda847c8960677"

# Linker and compiler flags for zlib
export LDFLAGS="-L/usr/local/opt/zlib/lib"
export CPPFLAGS="-I/usr/local/opt/zlib/include"

# Rainbarf config file
export RAINBARF=~/.rainbarf.conf rainbarf

# Pyenv virtualenv
export PYENV_VIRTUALENV_DISABLE_PROMPT=1
